@import "bootstrap/bootstrap.less";

body {
	padding-top: 70px;
	padding-bottom: 70px;
}


footer {
	.text-center;	
	color: @gray-darker;
	padding-top: 25px;
	padding-bottom: 25px;
}

table {
	margin-top: 30px;
}