<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="dev" connectionString="Server=.\sqlexpress;Database=cpn;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="live" connectionString="Server=2551e237-f485-4f21-a714-a23701035d50.sqlserver.sequelizer.com;Database=db2551e237f4854f21a714a23701035d50;User ID=bzjgrrjvlkbijsct;Password=GnMprCrKeQR6KaHUAjxRyZAhJiSxUQGHXh8gCvLHMUk76ynzYq3kuvwQTEMiS2Yw;"/>
  </connectionStrings>
</configuration>